body {
    font-family: 'Titillium Web', sans-serif;
    
}
.wrapper {
    display: grid;
    grid-template-rows: 60px 50px auto 30px auto;
    grid-template-columns: 25% auto;
    gap: 15px;
    margin: 20px;
}

header {
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: cornflowerblue;
    align-self: center;
    text-align: center;
    border-radius: 5px;
}
header h1 {
    margin: 8px;
}

aside {
    grid-row: 2/6;
    grid-column: 1/2;
    background-color: darkgray;
    text-align: center;
    padding: 5%;
    border-radius: 5px;
}

main {
    grid-row: 2/4;
    grid-column: 2/3;
    background-color: lightblue;
    padding: 5%;
    border-radius: 5px;
}
main #cityName {
    margin: 0;
    font-size: 3em;
    line-height: 1.2em;
    align-self: center;
}
main #weather-desc {
    align-self: center;
    padding-left: 2%;
}
main section {
    display: flex;
}
main .fas {
    align-self: center;
    text-align: right;
    font-size: 12vw;
    padding: 2%;
    width: 25%;
}
main .main-temperature {
    align-self: center;
    text-align: left;
    font-weight: 600;
    padding: 2%;
    width: 45%;
    font-size: larger;
}
main .uv-index {
    text-align: center;
}
main #temp {
    font-size: 15vw;
    line-height: 1em;
}
main .other-details {
    align-self: center;
    width: 30%;
    font-size: 1.5vw;
    margin-left: 5%;
}
main .wind-speed,
main .humidity {
    border: 1px solid black;
    padding: 10%;
    margin: 15%;
    height: 50%;
    border-radius: 5px;
    text-align: center;
}

.forecast-heading {
    grid-row: 4/5;
    grid-column: 2/3;
    align-self: center;
}
.forecast {
    grid-row: 5/6;
    grid-column: 2/3;
    background-color: lightgoldenrodyellow;
    align-self: center;
    display: flex;
    padding: 2%;
    border-radius: 5px;
}
.forecast article {
    padding: 2%;
    width: 25%;
    text-align: center;
}